.message {
    max-width: 60%;
    width: 100%;
    margin-bottom: 40px;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;

    /* My Message */
    margin-left: auto;
    margin-right: 0;
    color: #FFFFFF;
}

.imageAndText {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.imageAndText img {
    display: block;
    height: 50px;
    width: 50px;
}

.text {
    flex-grow: 1;

    border-radius: 12px 12px 0 12px;
    padding: 7px 13px;

    position: relative;

    /* My Message */
    background-color: #0066CC;
    /*box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1), 0px 5px 20px 0px rgba(29, 33, 38, 0.03);*/
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.5)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
}

.text:after {
    position: absolute;
    content: "";
    bottom: 0;

    width: 0;
    height: 0;

    /* My Message */
    right: -12px;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #0066CC;
}

.name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;

    /* My Message */
    text-align: right;
}

.messageText {
    font-size: 16px;
    font-weight: 400;
}

.time {
    text-align: center;
    color: #000000;
    font-size: 10px;
    font-weight: 600;

    position: relative;
    bottom: -65px;
}